<!-- <form action="/register" method="POST">
    <input type="email" name="email" placeholder="Enter an email" required>
    <br>
    <input type="text" name="username" placeholder="Enter an username" required>
    <br>
    <input type="password" name="password" placeholder="Enter a strong password" required>
    <br>
    <button type="submit">Register</button>
</form> -->

<body>
    <div class="pic">
        <section class="vh-100">
            <div class="container py-5 h-100">
                <div class="row d-flex align-items-center justify-content-center h-100">
                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <form class="mt-5" action="/register" method="POST">
                            
                            <div class="form-outline mb-4 h-15">
                                <input type="email" name="email" placeholder="Enter an email" required id="form1Example13"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form1Example13">Email</label>
                            </div>
                            <div class="form-outline mb-4 h-15">
                                <input type="text" name="username" placeholder="Enter an username" required id="form1Example13"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form1Example13">Email</label>
                            </div>
                            
                            <div class="form-outline mb-4 h-15">
                                <input type="password" placeholder="Enter password" name="password" required
                                    id="form1Example23" class="form-control form-control-lg" />
                                <label class="form-label" for="form1Example23">Password</label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                            <!-- <button type="submit" class="btn text-primary bg-light btn-primary btn-lg btn-block">Sign
                                up</button> -->
                            
                                
                            </form>
                            <form action="/" method="GET">
                                <button class="btn btn-primary btn-lg btn-block">Back</button>
                            </form> 
                    </div>
                </div>
            </div>
        </section>
    </div>
    </div>
</body>